SECRET_KEY=replace_with_generated_secret_key

DB_NAME=personal_diary
DB_USER=diary_user
DB_PASSWORD=replace_with_database_password
DB_HOST=127.0.0.1
DB_PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0

EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_address@mail.ru
EMAIL_HOST_PASSWORD=replace_with_app_password